<!-- set page title -->
<% content_for :page_title do %>
Recruitment system guide
<% end %>

<!-- add minifield and concatenated CSS and JS files -->
<% content_for :head do %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<% end %>

<!-- Set the content for the GOV.UK header -->
<% content_for :inside_header do%>
<div class='header-proposition'>
  <div class='content'>
    <nav id='proposition-menu'>
      <a href='/' id='proposition-name'>Recruitment System Guide</a>
    </nav>
  </div>
</div>
<% end %>
<!-- Main container -->
<div id="content">
<div id="page-container">
	<!-- Phase banner minus the phase tag as not necessary -->
	<div class="phase-banner">
	  <p>
	    <span>Your <%= mail_to "support.csjobs@csresourcing.gsi.gov.uk" , "feedback" %> on this guide will help us to improve it.</span>
	  </p>
	</div>

	<div class="grid-row">

		
		<%= render 'layouts/navigation' %>
		<div class="column-two-thirds">
		<%= render 'layouts/guidance' %>
		</div>

	</div>
</div>
</div>