<!-- set page title -->
<% content_for :page_title do %>
Recruitment System - Guidance
<% end %>

<!-- add minifield and concatenated CSS and JS files -->
<% content_for :head do %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<% end %>

<!-- Set the content for the GOV.UK header -->
<% content_for :inside_header do%>
<div class='header-proposition'>
  <div class='content'>
    <nav id='proposition-menu'>
      <a href='/' id='proposition-name'>Recruitment System Guidance</a>
    </nav>
  </div>
</div>
<% end %>
<!-- Main container -->
<div id="content">
<div id="page-container">
	<!-- Phase banner minus the phase tag as not necessary -->
	<div class="phase-banner">
	  <p>
	    <span>Your <%= mail_to "support.csjobs@csresourcing.gsi.gov.uk" , "feedback" %> on this guide will help us to improve it.</span>
	  </p>
	</div>

	<div class="grid-row">

		

		<div class="column-two-thirds">
		<%= render 'layouts/cv_content' %>
		<form>
		<fieldset>
		<legend>CV details</legend>
		<div class="form-group">
		<label class="form-label" for="full-name-f1">Employment history<span class="help-text">Enter your full history starting with the most recent</span></label>
  		<textarea class="form-textarea" name="career-history" id="full-name-f1" rows="20" cols="40"></textarea>
  		</div>
  		<div class="form-group">
		<label class="form-label" for="full-name-f1">Qualification details<span class="help-text">Enter your educational and professional qualifications</span></label>
  		<textarea class="form-textarea" name="qualifications" id="full-name-f1" rows="20" cols="40"></textarea>
  		</div>
  		<div class="form-group">
			<label class="block-label" for="waste-type-1">
	        <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
	        I have removed <%= link_to "personal information", "#personal-details"%> that could identify me
	    	</label>
		</div>
  		</fieldset>
  		</form>
  		<div class="form-group">
		</div>
		</div>

	</div>
</div>
</div>