<div class="column-one-third">
	<nav>
		<h2>Contents</h2>
		<ul class="prog-tracker">
			<li><%= link_to "Request access", '#request_access' %></li>
			<li><%= link_to "Create your vacancy", '#' %></li>
			<li><%= link_to "Review applications", '#' %></li>
			<li><%= link_to "Upload shortlisting results", '#' %></li>
			<li><%= link_to "Setup interviews", '#' %></li>
			<li><%= link_to "Upload interview results", '#' %></li>
		</ul>
	</nav>
</div>