<div class="column-one-third">
	<nav>
		<h2>Contents</h2>
		<ul class="prog-tracker">
			<li><%= link_to "Request an account", '#request_access' %></li>
			<li><%= link_to "Create your vacancy", '#create_vacancy' %></li>
			<li><%= link_to "Review applications", '#review_applicants' %></li>
			<li><%= link_to "Upload shortlisting results", '#upload_sift' %></li>
			<li><%= link_to "Setup interviews", '#interviews' %></li>
			<li><%= link_to "Upload interview results", '#interview_results' %></li>
		</ul>
	</nav>
</div>